* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 8%;
    padding: 1% 10%;
}

.content {
    flex: 1 1 auto;
}

.container-vertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.centered {
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    padding: 3%;
}

.section {
    display: flex;
    justify-content: space-evenly;
    padding: 4% 10%;
}

.container {
    display: flex;
}

.image {
    background-color: grey;
    font-size: 8px;
    flex: 1 1 auto;
    margin-left: 6%;
    display: flex;
    align-items: center;
}

.item {
    text-align: center;
    flex: 1;
}

.text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

.cta,
button {
    background-color: #3882f6;
    color: white;
    width: 100%;
    border-radius: 12px;
}


.cta .container-vertical {
    justify-content: center;
    padding: 20px 20%;
}


.container.cta {
    justify-items: center;
    align-items: center;
    padding: 2% 0%;
}

h2 {
    margin-top: 3px;
    margin-bottom: 3px;
}

button {
    font-size: 25px;
    font-weight: 800;
    width: fit-content;
    border-radius: 12px;
    border-style: none;
    margin-top: 20px;
    padding: 10px 30px;
}

.cta>button {
    margin-top: 0px;
    margin-right: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    background-color: aliceblue;
    align-items: center;
    overflow: hidden;
    padding: 15px;
}

.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 4% 30%;
    display: flex;
    flex-direction: column;
}

.author {
    text-align: right;
    font-style: normal;
    font-size: smaller;
    font-weight: 800;
}

.img-with-caption {
    margin: 40px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.img-frame {
    border-radius: 20px;
    border-style: solid;
    border-color: #3882f6;
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
}